    #app {
        background-image: url(../images/aaa.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        h2 {
            text-align: center;
        }
        img {
            margin-left: 900px;
            margin-top: 50px;
        }
        input {
            margin-left: 1830px;
            width: 50px;
            height: 50px;
        }
    }
    
    .text-message {
        margin-top: 650px;
        width: 1800px;
        height: 60px;
    }